* {
    box-sizing: border-box;
}

body {
    background: #ccc;
    font-family: verdana;
    max-width: 900px;
    margin: auto;
}

.first-header {
    width: 30%;
    float: left;
    display: block;
    padding-right: 10px;
}

.first-section {
    width: 70%;
    float: right;
    display: block;
}

footer {
    width: 100%;
    display: block;
}

.gato-perfil {
    border: 1px solid #505050;
    width: 100%;
    margin-right: 5px;
    margin-top: 20px;
    border-radius: 7px;
}

#title, .subtitle, .post-title {
    color: #505050;
}

#title {
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.subtitle{
    background-color: #d9d9d9;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
}

a {
    text-decoration: line-through;
    color: #505050;
}

.post-title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post {
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post-content {
    font-size: 17px;
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.imagem-html {
    margin-bottom: 15px;
    width: 100%;
}

.contact-list {
    list-style-type: none;
    margin: 0;
    padding-left: 5px;
}

.contact-list li a {
    text-decoration: none;
}

.footer-list {
    background-color: #d9d9d9;
    width: 100%;
    float: right;
    display: block;
    border-radius: 5px;
}